<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.musicalsky.dao.AdminLoginDao">

	<select id="login" parameterType="AdminLogin" resultMap="AdminResultMap">
		select * from admin_login t,sys_dictionary m where t.loginAccount=#{loginAccount} and t.loginPassword=#{loginPassword} and t.loginRole=#{loginRole} and t.loginRole=m.fieldID
	</select>
	
	<resultMap type="AdminLogin" id="AdminResultMap">
		<id property="loginRole" column="loginRole"></id>
		<result property="loginAccount" column="loginAccount" />
		<result property="loginPassword" column="loginPassword" />
		<association property="SysDictionary" column="fieldID" select="getSysDictionary">
			<result property="fieldID" column="fieldID"/>
			<result property="fieldValue" column="fieldValue" />
		</association>
	</resultMap>
	
	<select id="getSysDictionary" parameterType="int" resultType="SysDictionary">
		select * from sys_dictionary t where t.fieldId = {#fieldId}
	</select>
	
</mapper>

















